<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bosuutap.css">
    <link rel="stylesheet" href="../css/sp.css">
    <link rel="stylesheet" href="../css/heart-icon-sp.css">
    <title>My Store</title>
</head>
<body>
    <div id="header"></div>
    <script src="../scripts/linkHeader.js"></script>
    
    <section class="top-banner">
      <img src="https://huythanhjewelry.vn/storage/photos/shares/collection-banner/sam-nhan-cau-hon-tu-3-trieu-pc.jpg" alt="Banner lớn">
    </section>

    <section class="main-bosuutap">
        <img src="https://cdn.huythanhjewelry.vn/storage/photos/uploads/ndino-12_1739516643.jpg" alt="Nhẫn cưới minh hoạ">
        <div class="bosuutap-details">
          <div class="bosuutap-description">
            <h2>Bộ sưu tập nhẫn cầu hôn "Rồi cưới luôn"</h2>
            <p>
              Mùa cưới đầu năm 2025, My Store giới thiệu bộ sưu tập nhẫn cầu hôn “Rồi cưới luôn”,
              mang đến sự đa dạng lựa chọn về khoảng giá và chất liệu, mong muốn có thể giúp bạn sở hữu chiếc
              nhẫn cầu hôn phù hợp và ý nghĩa nhất. Mỗi chiếc nhẫn mang một ý nghĩa khác nhau, sẽ là chứng nhân
              hạnh phúc trong hành trình gặp gỡ, yêu thương và được bên nhau của mỗi cặp đôi.
            </p>
          </div>
          <div class="bosuutap-listing">
            <div class="bosuutap">
              <span
                class="heart-icon"
                data-id="2001"
                data-title="Nhẫn cầu hôn Vàng 14K đá CZ"
                data-price="4.997.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp"
              >♥</span>
              <a href="/bo san pham/san_pham_id_2001.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp" alt="PROMIS"></a>
              <h4>PROMIS</h4>
              <p><a href="/bo san pham/san_pham_id_2001.html">Nhẫn cầu hôn Vàng 14K đá CZ</a></p>
              <strong style="color: #e60026; margin:20px">4.997.000₫</strong>
              <br><br>
            </div>
            <div class="bosuutap">
              <span
                class="heart-icon"
                data-id="2002"
                data-title="Nhẫn cầu hôn Vàng 14K đá Moissanite"
                data-price="7.288.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp"
              >♥</span>
              <a href="/bo san pham/san_pham_id_2001.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp" alt="BEYOND"></a>
              <h4>BEYOND</h4>
              <p><a href="/bo san pham/san_pham_id_2001.html">Nhẫn cầu hôn Vàng 14K đá Moissanite</a></p>
              <strong style="color: #e60026">7.288.000₫</strong>
            </div>
          </div>
        </div>
    </section>
      
    <!-- PHẦN MỚI: ảnh chính bên phải, sản phẩm bên trái -->
    <section class="main-bosuutap-reverse">
        <div class="bosuutap-details">
          <div class="bosuutap-description">
            <h2>Bộ sưu tập nhẫn cầu hôn "Rồi cưới luôn"</h2>
            <p>
              Mùa cưới đầu năm 2025, My Store giới thiệu bộ sưu tập nhẫn cầu hôn “Rồi cưới luôn”,
              mang đến sự đa dạng lựa chọn về khoảng giá và chất liệu, mong muốn có thể giúp bạn sở hữu chiếc
              nhẫn cầu hôn phù hợp và ý nghĩa nhất. Mỗi chiếc nhẫn mang một ý nghĩa khác nhau, sẽ là chứng nhân
              hạnh phúc trong hành trình gặp gỡ, yêu thương và được bên nhau của mỗi cặp đôi.
            </p>
          </div>
          <div class="bosuutap-listing">
            <div class="bosuutap">
              <span
                class="heart-icon"
                data-id="2003"
                data-title="Nhẫn cầu hôn Vàng 14K đá CZ"
                data-price="4.997.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp"
              >♥</span>
              <a href="/bo san pham/san_pham_id_2001.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp" alt="PROMIS"></a>
              <h4>PROMIS</h4>
              <p><a href="/bo san pham/san_pham_id_2001.html">Nhẫn cầu hôn Vàng 14K đá CZ</a></p>
              <strong style="color: #e60026">4.997.000₫</strong>
              <br><br>
            </div>
            <div class="bosuutap">
              <span
                class="heart-icon"
                data-id="2004"
                data-title="Nhẫn cầu hôn Vàng 14K đá Moissanite"
                data-price="7.288.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp"
              >♥</span>
              <a href="/bo san pham/san_pham_id_2001.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1713754025/ndino28461_1716276404.png.webp" alt="BEYOND"></a>
              <h4>BEYOND</h4>
              <p><a href="/bo san pham/san_pham_id_2001.html">Nhẫn cầu hôn Vàng 14K đá Moissanite</a></p>
              <strong style="color: #e60026">7.288.000₫</strong>
            </div>
          </div>
        </div>
        <img src="https://cdn.huythanhjewelry.vn/storage/photos/uploads/ndino-12_1739516643.jpg" alt="Nhẫn cưới minh hoạ">
    </section>

    <div class="title-line-wrapper">
        <div class="title-line">
          <span>BST NHẪN CẦU HÔN RỒI CƯỚI LUÔN</span>
        </div>
    </div>
    
    <div class="container">
        <div class="main-product-bst">
          <span
              class="heart-icon"
              data-id="2005"
              data-title="Nhẫn Cầu Hôn Vàng 14K Kim Cương Tự Nhiên"
              data-price="29.977.000₫"
              data-img="https://cdn.huythanhjewelry.vn/storage/rs1100/shares/01upload/1713754076/ndino235bldia7_1716369261.png.webp"
          >♥</span>
          <div class="main-product-img">
          <a href="/bo san pham/san_pham_id_2005.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs1100/shares/01upload/1713754076/ndino235bldia7_1716369261.png.webp" alt="Nhẫn chính"></a>
          <div class="info">
            <div class="main-badge">🎁 Quà tặng 0đ</div>
            <div class="main-badge">🚚 Freeship</div>
            <h4>ETERNAL</h4>
            <p><a href="/bo san pham/san_pham_id_2005.html">Nhẫn Cầu Hôn Vàng 14K Kim Cương Tự Nhiên</a></p>
            <div class="price">29.977.000₫</div>
          </div>
        </div>
        </div>
    
        <div class="related-product-bsts">
          <!-- product-bst item 1 -->
          <div class="product-bst-item">
            <span
                class="heart-icon"
                data-id="2006"
                data-title="Nhẫn Cầu Hôn Vàng 14K Kim Cương Tự Nhiên"
                data-price="73.273.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp"
            >♥</span>
            <a href="/bo san pham/san_pham_id_2006.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp" alt="Ring 1"></a>
            <div class="info">
              <div class="badge">🎁 Quà tặng 0đ</div>
              <div class="badge">🚚 Freeship</div>
              <h4>ETERNAL</h4>
              <p><a href="/bo san pham/san_pham_id_2006.html">Nhẫn Cầu Hôn Vàng 14K Kim Cương Tự Nhiên</a></p>
              <div class="price">73.273.000₫</div>
            </div>
          </div>
    
          <!-- product-bst item 2 -->
          <div class="product-bst-item">
            <span
                class="heart-icon"
                data-id="2007"
                data-title="Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown"
                data-price="26.779.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp"
            >♥</span>
            <a href="/bo san pham/san_pham_id_2006.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp" alt="Ring 2"></a>
            <div class="info">
              <div class="badge">🎁 Quà tặng 0đ</div>
              <div class="badge">🚚 Freeship</div>
              <h4>EVERMORE</h4>
              <p><a href="/bo san pham/san_pham_id_2006.html">Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown</a></p>
              <div class="price">26.779.000₫</div>
            </div>
          </div>
    
          <!-- product-bst item 3 -->
          <div class="product-bst-item">
            <span
                class="heart-icon"
                data-id="2008"
                data-title="Nhẫn Cầu Hôn Vàng 14K Kim Cương Tự Nhiên"
                data-price="30.016.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp"
            >♥</span>
            <a href="/bo san pham/san_pham_id_2006.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp" alt="Ring 3"></a>
            <div class="info">
              <div class="badge">🎁 Quà tặng 0đ</div>
              <div class="badge">🚚 Freeship</div>
              <h4>ETERNAL</h4>
              <p><a href="/bo san pham/san_pham_id_2006.html">Nhẫn Cầu Hôn Vàng 14K Kim Cương Tự Nhiên</a></p>
              <div class="price">30.016.000₫</div>
            </div>
          </div>
    
          <!-- product-bst item 4 -->
          <div class="product-bst-item">
            <span
                class="heart-icon"
                data-id="2009"
                data-title="Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown"
                data-price="26.719.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp"
            >♥</span>
            <a href="/bo san pham/san_pham_id_2006.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp" alt="Ring 4"></a>
            <div class="info">
              <div class="badge">🎁 Quà tặng 0đ</div>
              <div class="badge">🚚 Freeship</div>
              <h4>EVERMORE</h4>
              <p><a href="/bo san pham/san_pham_id_2006.html">Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown</a></p>
              <div class="price">26.719.000₫</div>
            </div>
          </div>
    
          <!-- product-bst item 5 -->
          <div class="product-bst-item">
            <span
                class="heart-icon"
                data-id="2010"
                data-title="Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown"
                data-price="12.249.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp"
            >♥</span>
            <a href="/bo san pham/san_pham_id_2006.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp" alt="Ring 5"></a>
            <div class="info">
              <div class="badge">🎁 Quà tặng 0đ</div>
              <div class="badge">🚚 Freeship</div>
              <h4>EVERMORE</h4>
              <p><a href="/bo san pham/san_pham_id_2006.html">Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown</a></p>
              <div class="price">12.249.000₫</div>
            </div>
          </div>
    
          <!-- product-bst item 6 -->
          <div class="product-bst-item">
            <span
                class="heart-icon"
                data-id="2011"
                data-title="Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown"
                data-price="17.543.000₫"
                data-img="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp"
            >♥</span>
            <a href="/bo san pham/san_pham_id_2006.html"><img src="https://cdn.huythanhjewelry.vn/storage/rs600/shares/01upload/1722852076/ndino248kc7_1723022972.png.webp" alt="Ring 6"></a>
            <div class="info">
              <div class="badge">🎁 Quà tặng 0đ</div>
              <div class="badge">🚚 Freeship</div>
              <h4>EVERMORE</h4>
              <p><a href="/bo san pham/san_pham_id_2006.html">Nhẫn Cầu Hôn Vàng 14K Kim Cương Lab-Grown</a></p>
              <div class="price">17.543.000₫</div>
            </div>
          </div>
    
        </div>
    </div>

    <div id="footer"></div>
    <script src="../scripts/linkFooter.js"></script>

    <script src="/scripts/dua_du_lieu_vao_sp_yeu_thich.js"></script>

</body>
</html>